
sorted-lists.xcodeproj/project.xcworkspace/xcuserdata/julia.xcuserdatad/UserInterfaceState.xcuserstate
sorted-lists.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
sorted-lists.xcodeproj/project.xcworkspace/contents.xcworkspacedata
sorted-lists.xcodeproj/project.pbxproj
.DS_Store
